
  //////////////////////////
 //  ICON GLITCH EFFECT  //
//////////////////////////

$hueShift1: [];
$hueShift2: [];

$offsetA1:  [];
$offsetA2:  [];
$offsetB1:  [];
$offsetB2:  [];

$clipStart: [];
$clipEnd:   [];

@for $i from 1 through 30 {

  $hueRotate: random(12) * 30;
  $hueShift1: append( $hueShift1, #{$hueRotate + 'deg'} );
  $hueShift2: append( $hueShift2, #{($hueRotate + 180) + 'deg'} );
  
  $offsetX: (random(40) - 20) / 10;
  $offsetY: (random(20) - 10) / 10;

  $offsetA1: append( $offsetA1, #{'translate(' + ($offsetX) + 'px, ' + ($offsetY) + 'px)'} );
  $offsetA2: append( $offsetA2, #{'translate(' + ($offsetX *  4) + 'px, ' + ($offsetY) + 'px)'} );
  $offsetB1: append( $offsetB1, #{'translate(' + (-$offsetX) + 'px, ' + (-$offsetY) + 'px)'} );
  $offsetB2: append( $offsetB2, #{'translate(' + (-$offsetX * 4) + 'px, ' + (-$offsetY) + 'px)'} );

  $clip1: random(100);
  $clip2: random(101 - $clip1) + $clip1;

  $clipStart: append( $clipStart, #{$clip1 + '%')} );
  $clipEnd:   append( $clipEnd,   #{$clip2 + '%')} );
}

@keyframes glitchEffect1 {
  @for $n from 1 through 20 {
    $start: ($n - 1) * 5;
    $end:   ($start + 4.9);

    #{$start + "%"},
    #{$end + "%"} {
      filter: sepia(100%) brightness(200%) contrast(500%) saturate(200%) hue-rotate( #{nth($hueShift1, $n)} );
      transform: nth( $offsetA1, $n );
    }
  }
}

@keyframes glitchEffect2 {
  @for $n from 1 through 20 {
    $start: ($n - 1) * 5;
    $end:   ($start + 4.9);

    #{$start + "%"},
    #{$end + "%"} {
      filter: sepia(100%) brightness(200%) contrast(500%) saturate(200%) hue-rotate( #{nth($hueShift2, $n)} );
      transform: nth( $offsetB1, $n );
    }
  }
}

@keyframes glitchOffset1 {
  @for $n from 1 through 20 {
    $start: ($n - 1) * 5;
    $end:   ($start + 4.9);

    $clip1: nth($clipStart, $n);
    $clip2: nth($clipEnd,   $n);

    #{$start + "%"},
    #{$end + "%"} {
      filter: sepia(100%) brightness(200%) contrast(500%) saturate(200%) hue-rotate( #{nth($hueShift1, $n)} );
      transform: nth( $offsetA2, $n );
      -webkit-clip-path: polygon(0 $clip1, 100% $clip1, 100% $clip2, 0 $clip2);
      clip-path: polygon(0 $clip1, 100% $clip1, 100% $clip2, 0 $clip2);
    }
  }
}

@keyframes glitchOffset2 {
  @for $n from 1 through 20 {
    $start: ($n - 1) * 5;
    $end:   ($start + 4.9);

    $clip1: nth($clipStart, $n);
    $clip2: nth($clipEnd,   $n);

    #{$start + "%"},
    #{$end + "%"} {
      filter: sepia(100%) brightness(200%) contrast(100%) saturate(500%) hue-rotate( #{nth($hueShift2, $n)} );
      transform: nth( $offsetB2, $n );
      -webkit-clip-path: polygon(0 $clip1, 100% $clip1, 100% $clip2, 0 $clip2);
      clip-path: polygon(0 $clip1, 100% $clip1, 100% $clip2, 0 $clip2);
    }
  }
}