// Breakpoints
$bp-xs: 480;
$bp-sm: 640;
$bp-md: 768;
$bp-lg: 1024;
$bp-xl: 1280;

// Colors
$color-bg: #eaeaea;
$color-text: #393F37;
$color-subtext: #a2a2a2;

// Typography
$font-size-base: 1rem;
$font-body: "Montserrat", "Work Sans", "Arial", sans-serif;
$line-height-base: 1.6;

// Buttons
$btn-default-color: $color-text;
$btn-size: 48px;
