@import "src/css/utils";

.project {
  @include flex(c, m, col);
  margin: 0 auto;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  &:nth-of-type(odd) {
    text-align: right;
    .project__content {
      padding: 2rem 50% 2rem 25%;
    }
  }

  .project__img {
    height: auto;
    width: 100%;
  }

  .project__content {
    @include absolute(0,0,0,0);
    @include flex(c,m,col);
    padding: 2rem 25% 2rem 50%;

    .project__info {
      .project__name,
      .project__type,
      .project__desc {
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        margin: 0.25rem auto;
        @include bp-min($bp-lg) {
          margin: 0.5rem auto;
        }
      }
      .project__type {
        transition-delay: 0.1s;
      }
      .project__desc {
        transition-delay: 0.2s;
      }
    }
  }
}

@include bp-max($bp-md) {
  .project,
  .project:nth-of-type(odd) {
    text-align: center;
    .project__content {
      max-width: 640px;
      margin: 2rem;
      padding: 0!important;
      position: static;
    }
  }
}