@import "src/css/utils";

.project {
  @include flex(c, m, col);
  margin: 4rem auto;
  max-width: 800px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: calc(100% - 2rem);
  @include bp-min($bp-sm) {
    flex-direction: row;
    margin: 2rem auto;
    text-align: left;
    width: 100%;
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
      text-align: right;
    }
  }

  .project__img__container {
    position: relative;
    transition: all 0.25s;
    width: 100%;
    @include bp-min($bp-sm) {
      max-width: 480px;
      min-width: 60%;
    }
    .project__goto {
      @include absolute(0, 0, 0, 0);
      @include flex(c, m, row);
      color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      text-align: center;
      transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
      z-index: 5;
      .project__goto__text {
        @include font(button);
        color: #242424;
        font-size: 3rem;
        &:nth-child(1) {
          animation: glitchText 4s infinite linear;
        }
        &:nth-child(n + 1) {
          @include absolute(0, 0, 0, 0);
          @include flex(c, m, row);
        }
        &:nth-child(2) {
          animation: glitchContinuous 3s infinite linear;
          text-shadow: 2px 0 #0ff;
          transform: translateX(-4px);
        }
        &:nth-child(3) {
          animation: glitchContinuous 4s infinite linear 1s;
          text-shadow: -2px 0 magenta;
          transform: translateX(4px);
        }
      }
    }
  }
  .project__info {
    margin: 0 1rem;
    .project__name,
    .project__type,
    .project__desc {
      margin: 0.5rem auto;
      transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .project__type {
      transition-delay: 0.1s;
    }
    .project__desc {
      transition-delay: 0.2s;
    }
  }
  &:hover {
    .project__img__container {
      .project__goto {
        background-color: #fafafa;
        opacity: 0.5;
        .project__goto__text {
          background-color: #fafafa;
        }
      }
    }
    .project__info {
      .project__name,
      .project__type,
      .project__desc {
        transform: translateX(1rem);
      }
    }
  }
  &:nth-of-type(odd):hover .project__info {
    .project__name,
    .project__type,
    .project__desc {
      transform: translateX(-1rem);
    }
  }
}
