@import "src/css/utils";

$glitchText: (
  (0%, 20%, 21%),
  (2%, 33%, 33%),
  (4%, 44%, 44%),
  (5%, 50%, 20%),
  (6%, 70%, 70%),
  (7%, 80%, 80%),
  (8%, 50%, 55%),
  (9%, 70%, 80%)
);

.project {
  @include flex(c, m, col);
  margin: 2rem 0;
  max-width: 100vw;

  .project__content {
    @include flex(c, m, row);
    color: inherit;
    cursor: pointer;
    max-width: 900px;
    position: relative;
    text-decoration: none;
    .project__img__container {
      height: 360px;
      width: 480px;
      position: relative;
      transition: all 0.25s;
      .project__goto {
        @include absolute(0, 0, 0, 0);
        @include flex(c, m, row);
        color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        text-align: center;
        transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
        z-index: 5;
        .project__goto__text {
          @include font(button);
          animation: glitchText 4s infinite linear;
          color: black;
          font-size: 3rem;
        }
      }
    }
    .project__info {
      margin: 0 1rem;
      .project__name {
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
      .project__type {
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
      .project__desc {
        @include font(body);
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
      }

      .project__button {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &:hover {
      .project__img__container {
        .project__goto {
          opacity: 0.5;
        }
      }
      .project__info {
        .project__name,
        .project__type,
        .project__desc {
          transform: translateX(1rem);
        }
      }
    }

    .project__link {
      @include absolute(0, 0, 0, 0);
      color: transparent;
      cursor: pointer;
      z-index: 1;
    }
  }
  &:nth-of-type(odd) .project__content {
    flex-direction: row-reverse;
    text-align: right;
    &:hover .project__info {
      .project__name,
      .project__type,
      .project__desc {
        transform: translateX(-1rem);
      }
    }
  }
}
