@import "src/css/utils";

.project {
  @include flex(c, m, col);
  max-width: 100vw;
  position: relative;

  &.align-left {
    align-items: flex-start;
    .project__panel {
      @include absolute(0, 12%, 0, auto);
    }
  }

  &.align-right {
    align-items: flex-end;
    .project__panel {
      @include absolute(0, auto, 0, 12%);
    }
  }
}

.project__img {
  background-position: center;
  background-size: contain;
  height: 600px;
  width: 800px;
}

.project__panel {
  @include flex(c, m, col);
}

.project__info {
  @include flex(l, t, col);
  @include shadow(3);
  background-color: white;
  padding: 3rem 2rem 2rem;
  width: 360px;

  .project__desc {
    @include font(body);
  }

  .project__button {
    align-self: center;
  }
}
