@import "src/css/utils";

$btnHeight: 40px;

.button {
  @include font(label);
  background-color: $color-text;
  border-radius: $btnHeight * 0.5;
  border: none;
  color: white;
  cursor: pointer;
  height: $btnHeight;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;

  &> *:not(a):not(button) {
    pointer-events: none;
  }

  &.size--sm {
    height: 32px;
    padding: 0.25rem 1rem;
  }
  &.size--md {
    height: 40px;
    padding: 0.5rem 1.5rem;
  }
  &.size--lg {
    height: 56px;
    padding: 1rem 2rem;
  }

  .buttonLink {
    @include absolute(0,0,0,0);
    @include flex(c,m,row);
    color: transparent;
  }
}
