@import "src/css/utils";

$btnHeight: 40px;

.button {
  @include font(button);
  background-color: $color-text;
  border-radius: $btnHeight * 0.5;
  border: none;
  color: white;
  cursor: pointer;
  height: $btnHeight;
  padding: 1rem 2rem;
  position: relative;

  &.size--sm {
    font-size: 70%;
    height: 32px;
    padding: 0.25rem 0.5rem;
  }
  &.size--md {
    font-size: 85%;
    height: 40px;
    padding: 0.5rem 1rem;
  }
  &.size--lg {
    font-size: 100%;
    height: 56px;
    padding: 1rem 2rem;
  }

  .buttonLink {
    @include absolute(0,0,0,0);
    @include flex(c,m,row);
    color: transparent;
  }
}
