@import "src/css/utils";

.button {
  @include font(button);
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 48px;
  padding: 0.5rem 1rem;

  &:hover {
    @include textGlitch(buttonGlitch, 10, 60, #fff);
  }
}
