@import "src/css/utils";

.logoSVG {
  fill: red;
}

.container {
  height: 32px;
  width: 32px;
  position: relative;
  @include bp-min($bp-xs) {
    height: 40px;
    width: 40px;
  }
  @include bp-min($bp-sm) {
    height: 56px;
    width: 56px;
  }
  @include bp-min($bp-md) {
    height: 64px;
    width: 64px;
  }

  .link {
    @include absolute(0, 0, 0, 0);
    cursor: pointer;
    z-index: 1;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .logo:not(.main) {
    @include absolute(0, 0, 0, 0);
  }

  .left {
    animation: glitch3 3.0s linear infinite alternate;
    background: $color-bg;
    transform: translateX(2px);
  }

  .right {
    animation: glitch1 3.0s linear infinite alternate-reverse;
    background: $color-bg;
    transform: translateX(-2px);
  }

  &.glitch:hover {
    .left {
      animation: glitchContinuous 2.0s infinite linear alternate;
    }
    .right {
      animation: glitchContinuous 2.5s infinite linear alternate-reverse;
    }
  }
}
