@import "src/css/utils";

.container {
  height: 32px;
  width: 32px;
  position: relative;
  @include bp-min($bp-xs) {
    height: 40px;
    width: 40px;
  }
  @include bp-min($bp-sm) {
    height: 56px;
    width: 56px;
  }
  @include bp-min($bp-md) {
    height: 64px;
    width: 64px;
  }

  .link {
    @include absolute(0, 0, 0, 0);
    cursor: pointer;
    z-index: 1;
  }

  .logo {
    @include absolute(0,0,0,0);
    height: 100%;
    width: 100%;
  }
}
