@import "src/css/utils";

.logoSVG {
  fill: red;
}

.container {
  height: 56px;
  width: 56px;
  position: relative;
  @include bp-min($bp-xs) {
    height: 64px;
    width: 64px;
  }
  @include bp-min($bp-sm) {
    height: 72px;
    width: 72px;
  }
  @include bp-min($bp-md) {
    height: 80px;
    width: 80px;
  }

  .link {
    @include absolute(0, 0, 0, 0);
    cursor: pointer;
    z-index: 1;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .logo:not(.main) {
    @include absolute(0, 0, 0, 0);
  }

  .left {
    animation: glitch3 3s linear infinite alternate;
    background: $color-bg;
    transform: translateX(2px);
  }

  .right {
    animation: glitch1 3s linear infinite alternate-reverse;
    background: $color-bg;
    opacity: 0;
    transform: translateX(-2px);
  }
  .hover {
    display: none;
  }

  &.glitch:hover {
    .left {
      animation: glitchContinuous 2s infinite linear alternate;
      transform: translateX(4px);
    }
    .right {
      animation: glitchContinuous 2.5s infinite linear alternate-reverse;
      transform: translateX(-4px);
    }
    .main {
      display: none;
    }
    .hover {
      display: inline-block;
    }
  }
}
