.logo_container {
  position: relative;
}

.logo {
  // @include absolute(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo-l,
.logo-r {
  background: #fafafa;
}
.logo-l {
  animation: glitchClip1 2s infinite linear alternate-reverse;
  transform: translateX(4px);
}
.logo-r {
  animation: glitchClip2 2s infinite linear alternate-reverse;
  transform: translateX(-4px);
}
