@import "src/css/utils";

.logo_container {
  position: relative;
}

.logo {
  @include absolute(0, 0, 0, 0);
}

.logo-l,
.logo-r {
  background: #fafafa;
}
.logo-l {
  @include glitch(logo1, 2s, 80, 20, 12, 18);
  transform: translateX(4px);
}
.logo-r {
  @include glitch(logo2, 2s, 80, 20, 14, 19);
  transform: translateX(-4px);
}
