@import "src/css/utils";

.logo_container {
  position: relative;
}

.logo {
  @include absolute(0, 0, 0, 0);
}

.logo-l,
.logo-r {
  background: #fafafa;
}
.logo-l {
  animation: glitchClip1 2s infinite linear alternate-reverse;
  transform: translateX(4px);
}
.logo-r {
  animation: glitchClip2 2s infinite linear alternate-reverse;
  transform: translateX(-4px);
}
