@import "src/css/utils";

.iconWrap {
  margin: 0 0.5rem;
  position: relative;
  text-decoration: none;

  &.icon--size-sm .icon {
    font-size: 1.8rem;
  }
  &.icon--size-md .icon {
    font-size: 2.4rem;
  }
  &.icon--size-lg .icon {
    font-size: 3.2rem;
  }

  @for $n from 1 through 3 {
    &:nth-of-type(3n + #{$n}) > .icon:not(:first-of-type) {
      animation-delay: #{-2.25 * $n}s;
    }
  }

  .link {
    @include absolute(0, 0, 0, 0);
    color: transparent;
    z-index: 1;
  }

  .icon {
    @include flex(c, m, row);
    padding: 0 0.5rem;

    &:nth-of-type(n + 2) {
      @include absolute(0, 0, 0, 0);
      @include flex(c, m, row);
      background: $color-bg;
    }

    &:nth-of-type(2) {
      animation: glitch1 1s infinite linear;
      text-shadow: 2px 0 cyan;
      transform: translateX(-3px);
    }

    &:nth-of-type(3) {
      animation: glitch2 1.5s infinite linear reverse;
      text-shadow: -2px 0 magenta;
      transform: translateX(3px);
    }
  }

  &:hover {
    .icon:nth-of-type(n + 2) {
      animation-name: glitchContinuous;
      animation-duration: 1.5s;
    }
  }
}
