@import "src/css/utils";

.iconWrap {
  @include flex(c,m,row);
  overflow: hidden;
  position: relative;
  text-decoration: none;

  &.icon--size-sm {
      height: 30px;
      width: 30px;
      .icon {
        font-size: 1.6rem;
      }
  }

  &.icon--size-md {
    height: 52px;
    width: 52px;
    .icon {
      font-size: 2.8rem;
    }
  }

  &.icon--size-lg {
    height: 72px;
    width: 72px;
    .icon {
      font-size: 4rem;
    }
  }

  @for $n from 1 through 3 {
    &:nth-of-type(3n + #{$n}) > .icon:not(:first-of-type) {
      animation-delay: #{-2.25 * $n}s;
    }
  }

  .link {
    @include absolute(0, 0, 0, 0);
    color: transparent;
    z-index: 1;
  }

  .icon {
    @include flex(c, m, row);

    &:nth-of-type(n + 2) {
      @include absolute(0, 0, 0, 0);
      @include flex(c, m, row);
    }
  }
}
