@import "src/css/utils";

.icon {
  margin: 0;
  position: relative;
  text-decoration: none;

  &--size-sm .fa {
    font-size: 1.8rem;
  }
  &--size-md .fa {
    font-size: 2.4rem;
  }
  &--size-lg .fa {
    font-size: 3.2rem;
  }

  .fa {
    @include flex(c, m, row);
  }

  &.icon--glitch {
    .fa:nth-of-type(1) {
      position: relative;
    }

    .fa:not(:first-of-type) {
      @include absolute(0, 0, 0, 0);
      @include flex(c, m, row);
      background: $color-bg;
      clip: rect(0, 0, 0, 0);
      opacity: 0;
    }

    .fa:nth-of-type(2) {
      @include glitch(icon1, 1.5s, 48, 20, 1, 20);
      text-shadow: 2px 0 #0ff;
      transform: translateX(-3px);
    }

    .fa:nth-of-type(3) {
      @include glitch(icon2, 1.5s, 48, 20, 1, 20);
      text-shadow: -2px 0 #f0f;
      transform: translateX(3px);
    }

    &:hover {
      .fa:not(:first-of-type) {
        opacity: 1;
      }
    }
  }
}
