@import "src/css/utils";

.heading {
  line-height: 0.75;
  margin: 0;
  position: relative;
  text-align: center;
  @include bp-min($bp-sm) {
    line-height: 0.85;
  }
  @include bp-min($bp-md) {
    line-height: 1;
  }
  &.size--sm .heading__content {
    font-size: 24px;
    letter-spacing: -2px;
    font-weight: 400;
  }
  &.size--md .heading__content {
    font-size: 36px;
    letter-spacing: -4px;
    @include bp-min($bp-sm) {
      font-size: 48px;
      letter-spacing: -3px;
    }
  }
  &.size--lg .heading__content {
    font-size: 48px;
    letter-spacing: -5px;
    @include bp-min($bp-xs) {
      font-size: 56px;
      letter-spacing: -4px;
    }
    @include bp-min($bp-sm) {
      font-size: 64px;
      letter-spacing: -5px;
    }
    @include bp-min($bp-md) {
      font-size: 72px;
      letter-spacing: -6px;
    }
  }

  .heading__content {
    font-weight: 400;
    padding: 0 0.5rem;

    strong {
      font-weight: 600;
    }

    span {
      font-weight: 200;
    }
  }

  .heading__content:nth-child(1) {
    color: $color-text;
    position: relative;
  }
}
