@import "src/css/utils";

.subheading {
  @include font(label);
  margin: 0 auto;
  position: relative;

  strong {
    font-weight: 500;
  }

  .subheading__content {
    color: $color-subtext;
  }

  .subheading__content:nth-of-type(1) {
    position: relative;
  }

  .subheading__content:not(:first-of-type) {
    @include absolute(0, 0, 0, 0);
    @include flex(c, m, row);
    background: $color-bg;
    clip: rect(0, 0, 0, 0);
  }
}
