// Fonts
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

// Icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Utils
@import "./utils.scss";

.App {
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: "Work Sans", "Arial", sans-serif;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}
