// Fonts
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

// Icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Utils
@import "./utils.scss";

.App {
  @include font(body);
  background-color: $color-bg;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.Home {
  @include flex(stretch, t, col);

  section {
    @include flex(c, m, col);
    &:first-of-type {
      padding: 4rem 1rem 2rem;
      @include bp-min($bp-sm) {
        padding: 6rem 2rem 4rem;
      }
      @include bp-min($bp-lg) {
        padding: 8rem 4rem 6rem;
      }
    }
    &:last-of-type {
      padding: 2rem 1rem 4rem;
      @include bp-min($bp-sm) {
        padding: 4rem 2rem 6rem;
      }
      @include bp-min($bp-lg) {
        padding: 6rem 4rem 8rem;
      }
    }
  }
}
