// Colors
@import "colors";

// Body
$body-bg: #fafafa;
$body-bg-2: #f5f5f5;
$body-gr: linear-gradient(22deg, #f5f5f5 20%, #fafafa 80%);

// Borders

// Brands
$color-display: rgba(0, 0, 0, 0.54);
$color-text: rgba(0, 0, 0, 0.87);
// $color-accent: #ff8172;
$color-accent: #f0f;

// $color-glitch-1: #31e2f4;
$color-glitch-1: #0ff;
// $color-glitch-2: #e867dc;
$color-glitch-2: #f0f;

// Typography
$line-height-base: 1.6;
$font-size-base: 1rem;
$font-body: "Raleway", sans-serif;
$font-btn: "Open Sans", sans-serif;
$text-color: rgba(0, 0, 0, 0.87);
$subtext-color: rgba(0, 0, 0, 0.54);
$fade-color: rgba(0, 0, 0, 0.23);

// Navbar
// $navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-size: 48px;

// Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);

// Panels
// $panel-default-heading-bg: #fff;
