@import "src/css/utils";

.projectHeader {
  @include flex(c, m, col);
  padding: 4rem 1rem 2rem;
  @include bp-min($bp-sm) {
    padding: 6rem 2rem 4rem;
  }
  @include bp-min($bp-lg) {
    padding: 8rem 4rem 6rem;
  }
}
