@import "src/css/utils";

.projectHeader {
  @include fixed(0,0,auto,0);
  @include flex(spread, m, row);
  background-color: $color-bg;
  height: 64px;
  padding: 0.5rem 1rem;
  z-index: 1;

  .returnLink {
    height: 32px;
    width: 32px;
  }
}
