@import "src/css/utils";

.projectHeader {
  @include fixed(0,0,auto,0);
  @include flex(c, m, row);
  @include shadow(1);
  background-color: $color-bg;
  height: 64px;
  padding: 0.5rem 1rem;
  z-index: 1;

  .returnLink {
    @include absolute(0,auto,0,0);
    height: 64px;
    width: 64px;
  }

  .projectHeading,
  .projectLabel {
    margin: 0 0.5rem;
  }
}
