@import "src/css/utils";

$offsetX: 0.5rem;
$offsetY: 0.5rem;
$duration: 2s;

$blend-offsets: translate(#{(-1 * $offsetX)}), translate(#{$offsetX}),
                translate(#{$offsetX}, #{$offsetY}), translate(0);
$filters: sepia(100%) contrast(50%)  saturate(5000%) hue-rotate(140deg),
          sepia(100%) contrast(50%)  saturate(5000%) hue-rotate(275deg),
          invert(100%),
          sepia(100%) contrast(500%)  saturate(5000%) hue-rotate(140deg);

.glitch {
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  .glitch__img {
    &:not(:first-child) {
      @include absolute(0, 0, 0, 0);
      overflow: hidden;
    }

    &:nth-child(n + 2) {
      opacity: 0;
    }

    img {
      width: 100%;
    }
  }

  &.glitchActive,
  &.glitchHover:hover {
    @for $n from 1 through 4 {
      .glitch__img:nth-child(#{$n + 1}) {
        animation: glitch + $n $duration infinite linear #{$n * 200}ms;
        filter: nth($filters, $n);
        opacity: 1;
        transform: nth($blend-offsets, $n);
        transition: opacity 1ms linear #{$n * 200}ms;
        z-index: $n;
      }
    }
  }
}
