@import "src/css/utils";

$offsetX: 0.5rem;
$offsetY: 0.5rem;
$duration: 2s;

$blend-colors: cyan, magenta, transparent, transparent;
$blend-modes: luminosity, hard-light, overlay, overlay;
$blend-offsets: translate(#{$offsetX}), translate(#{(-1 * $offsetX)}),
  translate(#{$offsetX}, #{$offsetY}), translate(#{(-1 * $offsetX)});

.glitch {
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  .glitch__img {
    &:not(:first-child) {
      @include absolute(0, 0, 0, 0);
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }

  &.glitchActive,
  &.glitchHover:hover {
    @for $n from 1 through 4 {
      .glitch__img:nth-child(#{$n + 1}) {
        animation: glitch + $n $duration infinite linear alternate;
        background-color: nth($blend-colors, $n);
        transform: nth($blend-offsets, $n);
        z-index: $n;
        img {
          mix-blend-mode: nth($blend-modes, $n);
        }
      }
    }
  }
}
