@import "src/css/utils";

article {
  @include flex(c, stretch, col);
  padding-top: 64px;

  .returnLink {
    @include fixed(0, auto, auto, 0);
    color: rgba(0, 0, 0, 0.54);
    height: 40px;
    width: 40px;
    margin: 1rem;
    z-index: 1;
  }

  header {
    @include flex(c, m, col);
    @include font(display4);
    animation: fadeInBottom 0.25s cubic-bezier(0, 0, 0.2, 1) forwards;
    margin: 0;
    opacity: 0;
    padding: 6rem 0 3rem;
  }

  .body {
    @include flex(c, m, col);
    animation: fadeInBottom 0.25s cubic-bezier(0, 0, 0.2, 1) 0.1s forwards;
    margin: 0 auto 0;
    // max-width: 800px;
    opacity: 0;
    width: 100%;

    p {
      font-size: 16px;
      margin: 1rem auto;
      max-width: 640px;
      width: calc(100% - 2rem);
      @include bp-min($bp-md) {
        font-size: 18px;
      }
      @include bp-min($bp-lg) {
        font-size: 21px;
      }
    }

    img {
      width: 100%;
    }
  }

  .center {
    align-self: center;
  }

  .left {
    align-self: flex-start;
  }

  .right {
    align-self: flex-end;
  }
}
